<section class="advantages">
  <div class="advantages__container container">
    <h2 class="advantages__title title">
      <span>5</span> причин звернутися до нас
    </h2>

    <ul class="advantages__list">
      <li class="advantages__item item-advantages">
        <svg class="item-advantages__icon" width="40" height="40">
          <use href="./images/about-us/icons-about-us.svg#icon-glyph"></use>
        </svg>
        <p class="advantages__text">Зручний формат</p>
      </li>
      <li class="advantages__item item-advantages">
        <svg class="item-advantages__icon" width="40" height="40">
          <use href="./images/about-us/icons-about-us.svg#icon-clock"></use>
        </svg>
        <p class="advantages__text">Підтримка 24/7</p>
      </li>
      <li class="advantages__item item-advantages">
        <svg class="item-advantages__icon" width="40" height="40">
          <use href="./images/about-us/icons-about-us.svg#icon-privacy"></use>
        </svg>
        <p class="advantages__text">Конфіденційність</p>
      </li>
      <li class="advantages__item item-advantages">
        <svg class="item-advantages__icon" width="40" height="40">
          <use href="./images/about-us/icons-about-us.svg#icon-person"></use>
        </svg>
        <p class="advantages__text">Індивідуальний підхід</p>
      </li>
      <li class="advantages__item item-advantages">
        <svg class="item-advantages__icon" width="40" height="40">
          <use
            href="./images/about-us/icons-about-us.svg#icon-certificate"
          ></use>
        </svg>
        <p class="advantages__text">Сертифіковані спеціалісти</p>
      </li>
    </ul>
  </div>
</section>
