<section class="advantages">
  <div class="advantages__container container">
    <h2 class="advantages__title about-us-title">
      <span class="advantages__title--accent">5</span>&nbsp;причин&nbsp;
      <span>звернутися до нас</span>
    </h2>

    <ul class="advantages__list">
      <li class="advantages__item">
        <svg class="advantages__icon" width="40" height="40">
          <use href="./images/about-us/about-us-icons.svg#icon-glyph"></use>
        </svg>
        <p class="advantages__text">Зручний формат</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="40" height="40">
          <use href="./images/about-us/about-us-icons.svg#icon-clock"></use>
        </svg>
        <p class="advantages__text">Підтримка 24/7</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="40" height="40">
          <use
            href="./images/about-us/about-us-icons.svg#icon-confidental"
          ></use>
        </svg>
        <p class="advantages__text">Конфіденційність</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="40" height="40">
          <use href="./images/about-us/about-us-icons.svg#icon-user"></use>
        </svg>
        <p class="advantages__text">Індивідуальний підхід</p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__icon" width="40" height="40">
          <use
            href="./images/about-us/about-us-icons.svg#icon-sertificate"
          ></use>
        </svg>
        <p class="advantages__text">Сертифіковані спеціалісти</p>
      </li>
    </ul>
  </div>
</section>
