<section class="brief-about-us">
  <div class="brief-about-us__container container">
    <div class="brief-about-us__content">
      <h1 class="brief-about-us__title about-us-title">Трішки про нас</h1>
      <div class="brief-about-us__image">
        <picture>
          <source
            srcset="
              ./images/about-us/our-team-desktop.webp    1x,
              ./images/about-us/our-team-desktop@2x.webp 2x
            "
            type="image/webp"
            media="(min-width:1470px)"
          />
          <source
            srcset="
              ./images/about-us/our-team-mobile.webp    1x,
              ./images/about-us/our-team-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width:1469px)"
          />
          <source
            srcset="
              ./images/about-us/our-team-desktop.jpg    1x,
              ./images/about-us/our-team-desktop@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width:1470px)"
          />
          <source
            srcset="
              ./images/about-us/our-team-mobile.jpg    1x,
              ./images/about-us/our-team-mobile@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width:1469px)"
          />
          <img
            src="./images/about-us/our-team-desktop.jpg"
            alt="Наша команда"
            width="542"
          />
        </picture>
      </div>
      <p class="brief-about-us__text about-us-text about-us-text--marked">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <p class="brief-about-us__text about-us-text">
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
        officia deserunt mollit anim id est laborum.Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
        id est laborum.
      </p>
    </div>
  </div>
</section>
