<section class="specialists">
  <div class="specialists__container container">
    <h2 class="specialists__title about-us-title">Наші спеціалісти</h2>
    <ul class="specialists__list">
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <picture>
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.webp    1x,
                ./images/about-us/our-specialist-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.webp    1x,
                ./images/about-us/our-specialist-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:1469px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.jpg    1x,
                ./images/about-us/our-specialist-desktop@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.jpg    1x,
                ./images/about-us/our-specialist-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:1469px)"
            />
            <img
              src="./images/about-us/our-specialist-desktop.jpg"
              alt="Наш спеціаліст"
              width="516"
            />
          </picture>
        </div>
        <div class="specialist__content">
          <p class="specialist__specialisation">Психолог</p>
          <p class="specialist__name">Катерина Іваненко</p>
          <ul class="specialist__characteristics characteristic">
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-education"
                ></use>
              </svg>
              <p class="characteristic__text">Вища освіта</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-qualification"
                ></use>
              </svg>
              <p class="characteristic__text">Підвищення кваліфікації</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-support"
                ></use>
              </svg>
              <p class="characteristic__text">Підтримка 24/7</p>
            </li>
          </ul>
          <p class="specialist__descripion about-us-text about-us-text--marked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <ul class="specialist__skills skills">
            <li class="skills__item">відносини у сім&apos;ї</li>
            <li class="skills__item">страхи</li>
            <li class="skills__item">гештальт</li>
            <li class="skills__item">психотравма</li>
          </ul>
          <button
            type="button"
            class="specialist__button about-us__button about-us__button--accent"
          >
            Записатися
          </button>
        </div>
      </li>
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <picture>
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.webp    1x,
                ./images/about-us/our-specialist-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.webp    1x,
                ./images/about-us/our-specialist-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:1469px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.jpg    1x,
                ./images/about-us/our-specialist-desktop@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.jpg    1x,
                ./images/about-us/our-specialist-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:1469px)"
            />
            <img
              src="./images/about-us/our-specialist-desktop.jpg"
              alt="Наш спеціаліст"
              width="516"
            />
          </picture>
        </div>
        <div class="specialist__content">
          <p class="specialist__specialisation">Психолог</p>
          <p class="specialist__name">Катерина Іваненко</p>
          <ul class="specialist__characteristics characteristic">
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-education"
                ></use>
              </svg>
              <p class="characteristic__text">Вища освіта</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-qualification"
                ></use>
              </svg>
              <p class="characteristic__text">Підвищення кваліфікації</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-support"
                ></use>
              </svg>
              <p class="characteristic__text">Підтримка 24/7</p>
            </li>
          </ul>
          <p class="specialist__descripion about-us-text about-us-text--marked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <ul class="specialist__skills skills">
            <li class="skills__item">відносини у сім&apos;ї</li>
            <li class="skills__item">страхи</li>
            <li class="skills__item">гештальт</li>
            <li class="skills__item">психотравма</li>
          </ul>
          <button
            type="button"
            class="specialist__button about-us__button about-us__button--accent"
          >
            Записатися
          </button>
        </div>
      </li>
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <picture>
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.webp    1x,
                ./images/about-us/our-specialist-desktop@2x.webp 2x
              "
              type="image/webp"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.webp    1x,
                ./images/about-us/our-specialist-mobile@2x.webp 2x
              "
              type="image/webp"
              media="(max-width:1469px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-desktop.jpg    1x,
                ./images/about-us/our-specialist-desktop@2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width:1470px)"
            />
            <source
              srcset="
                ./images/about-us/our-specialist-mobile.jpg    1x,
                ./images/about-us/our-specialist-mobile@2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width:1469px)"
            />
            <img
              src="./images/about-us/our-specialist-desktop.jpg"
              alt="Наш спеціаліст"
              width="516"
            />
          </picture>
        </div>
        <div class="specialist__content">
          <p class="specialist__specialisation">Психолог</p>
          <p class="specialist__name">Катерина Іваненко</p>
          <ul class="specialist__characteristics characteristic">
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-education"
                ></use>
              </svg>
              <p class="characteristic__text">Вища освіта</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-qualification"
                ></use>
              </svg>
              <p class="characteristic__text">Підвищення кваліфікації</p>
            </li>
            <li class="characteristic__item">
              <svg class="characteristic__icon" width="30" height="30">
                <use
                  href="./images/about-us/about-us-icons.svg#icon-support"
                ></use>
              </svg>
              <p class="characteristic__text">Підтримка 24/7</p>
            </li>
          </ul>
          <p class="specialist__descripion about-us-text about-us-text--marked">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <ul class="specialist__skills skills">
            <li class="skills__item">відносини у сім&apos;ї</li>
            <li class="skills__item">страхи</li>
            <li class="skills__item">гештальт</li>
            <li class="skills__item">психотравма</li>
          </ul>
          <button
            type="button"
            class="specialist__button about-us__button about-us__button--accent"
          >
            Записатися
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
