<section class="specialists">
  <div class="specialists__container container">
    <h2 class="specialists__title">Наші спеціалісти</h2>
    <ul class="specialists__list">
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <img src="./images/about-us/our-specialist.jpg" alt="Наш психолог" />
        </div>
        <p class="specialist__specialisation">Психолог</p>
        <p class="specialist__name">Катерина Іваненко</p>
        <ul class="specialist__list characteristic">
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-education"
              ></use>
            </svg>
            <p class="characteristic__text">Вища освіта</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-qualification"
              ></use>
            </svg>
            <p class="characteristic__text">Підвищення кваліфікації</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-support"
              ></use>
            </svg>
            <p class="characteristic__text">Підтримка 24/7</p>
          </li>
        </ul>
        <p class="specialist__descripion">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul class="specialist__skills skills">
          <li class="skills__item">відносини у сім’ї</li>
          <li class="skills__item">страхи</li>
          <li class="skills__item">гештальт</li>
          <li class="skills__item">психотравма</li>
        </ul>
        <button type="button" class="specialist__button">Записатися</button>
      </li>
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <img src="./images/about-us/our-specialist.jpg" alt="Наш психолог" />
        </div>
        <p class="specialist__specialisation">Психолог</p>
        <p class="specialist__name">Катерина Іваненко</p>
        <ul class="specialist__list characteristic">
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-education"
              ></use>
            </svg>
            <p class="characteristic__text">Вища освіта</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-qualification"
              ></use>
            </svg>
            <p class="characteristic__text">Підвищення кваліфікації</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-support"
              ></use>
            </svg>
            <p class="characteristic__text">Підтримка 24/7</p>
          </li>
        </ul>
        <p class="specialist__descripion">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul class="specialist__skills skills">
          <li class="skills__item">відносини у сім’ї</li>
          <li class="skills__item">страхи</li>
          <li class="skills__item">гештальт</li>
          <li class="skills__item">психотравма</li>
        </ul>
        <button type="button" class="specialist__button">Записатися</button>
      </li>
      <li class="specialists__item specialist">
        <div class="specialist__foto">
          <img src="./images/about-us/our-specialist.jpg" alt="Наш психолог" />
        </div>
        <p class="specialist__specialisation">Психолог</p>
        <p class="specialist__name">Катерина Іваненко</p>
        <ul class="specialist__list characteristic">
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-education"
              ></use>
            </svg>
            <p class="characteristic__text">Вища освіта</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-qualification"
              ></use>
            </svg>
            <p class="characteristic__text">Підвищення кваліфікації</p>
          </li>
          <li class="characteristic__item">
            <svg class="characteristic__icon" width="30" height="30">
              <use
                href="./images/about-us/icons-about-us.svg#icon-support"
              ></use>
            </svg>
            <p class="characteristic__text">Підтримка 24/7</p>
          </li>
        </ul>
        <p class="specialist__descripion">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <ul class="specialist__skills skills">
          <li class="skills__item">відносини у сім’ї</li>
          <li class="skills__item">страхи</li>
          <li class="skills__item">гештальт</li>
          <li class="skills__item">психотравма</li>
        </ul>
        <button type="button" class="specialist__button">Записатися</button>
      </li>
    </ul>
  </div>
</section>
