<div class="backdrop hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close" data-modal-close>
      <svg width="20" height="20" class="icon-modal-close">
        <use href="./images/header/sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <p class="modal-first-text">Залиште заявку</p>
    <p class="modal-second-text">Ми зателефонуємо вам через 5 хвилин</p>
    <form class="modal-form">
      <div class="modal-field">
        <label for="name" class="input-label"></label>
        <input
          id="name"
          type="text"
          name="name"
          class="modal-input"
          required
          placeholder="Марія"
        />
      </div>
      <div class="modal-field">
        <label for="tel" class="input-label"></label>
        <input
          id="tel"
          type="tel"
          name="tel"
          class="modal-input"
          placeholder="+ 38 (000) 000-00-00"
        />
      </div>
      <div class="modal-field">
        <textarea
          placeholder="Що вас турбує?"
          name="comment"
          class="modal-input comment-area"
        ></textarea>
      </div>
      <button type="button" class="button-mob-call button-mob-call-modal">
        зателефонуйте мені
      </button>
    </form>
  </div>
</div>
