.hero {
  overflow: hidden;
  @include desktop {
    padding-top: 241px;
  }
}

.hero-box {
  padding: 80px 0 40px 0;

  @include desktop {
    display: grid;
    grid-template-columns: 542px 1fr;
    grid-template-rows: 1fr;
    column-gap: 75px;
    position: relative;
    padding: 97px 0 75px 0;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      bottom: 23px;
      right: 0;
      z-index: -1;
      width: 1019px;
      height: 1101px;
      background-color: var(--background);
    }
  }
}

@include desktop {
  .grid-position__hero {
    padding-top: 22px;
    grid-column: 2;
    grid-row: 1/3;
  }
}

.hero__header {
  @include text('Cormorant', 700, 25px, 30px);
  text-transform: uppercase;
  color: var(--text);

  @include desktop {
    @include text('Cormorant', 700, 60px, 55px);
  }

  &--text {
    display: inline-block;
    margin-bottom: 10px;
    @include text('Montserrat', 400, 14px, 55px);
    line-height: normal;

    color: var(--accent-text);

    @include desktop {
      @include text('Montserrat', 400, 22px, 55px);
    }
  }

  &--color {
    color: var(--accent-background);
  }
}

.hero__motto {
  display: flex;
  margin-top: 25px;
  gap: 5px;
  @include text('Montserrat', 400, 14px, 20px);
  width: 212px;

  @include desktop {
    margin-top: 60px;
    width: 355px;
    gap: 15px;
    @include text('Montserrat', 400, 20px, 24px);
  }

  &::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: var(--color-icon);

    margin-top: 10px;
    margin-right: 7px;

    flex-shrink: 0;

    @include desktop {
      width: 45px;
    }
  }
}

.hero__prompting {
  @include text('Montserrat', 400, 14px, 17px);

  @include desktop {
    @include text('Montserrat', 400, 20px, 24px);
  }

  &--selection {
    display: block;
    font-weight: 700;
  }
}

.hero__price-box {
  display: flex;
  align-items: center;
  gap: 11px;

  @include desktop {
    display: block;
  }
}

.hero__price {
  @include text('Arsenal', 700, 35px, 44px);
  color: var(--accent-background);

  @include desktop {
    @include text('Arsenal', 700, 70px, 88px);
  }
}

.hero__price--discount {
  position: relative;
  @include text('Arsenal', 700, 15px, 19px);
  color: var(--price-number-gray);

  @include desktop {
    @include text('Arsenal', 700, 35px, 44px);
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    left: -3px;
    bottom: 9px;
    width: 39px;
    height: 1px;
    transform: rotate(169.56deg);
    background-color: var(--accent-background);

    @include desktop {
      width: 83px;
      height: 3px;
      bottom: 18px;
      left: calc(50% - 3px);
      transform: translate(-50%) rotate(169.56deg);
    }
  }
}

.hero__photo {
  width: 335px;

  @media screen and (max-width: 1469.9px) {
    position: relative;
    right: -65px;
    bottom: 89px;
  }

  @include desktop {
    width: 542px;
    grid-column: 1;
    grid-row: 1;
    border-radius: 400px 0px 0px 0px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  padding: 6px 61px;
  box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
  border-radius: 150px;
  @include text('Montserrat', 700, 16px, 55px);
  background-color: var(--accent-background);
  color: var(--white);

  &:hover,
  &:focus {
    background-color: var(--button-bgcolor-accent-hover);
  }

  @include desktop {
    position: relative;
    padding: 22px 65px;
    @include text('Montserrat', 700, 30px, 55px);
  }

  &__hero {
    margin-top: -64px;

    @include desktop {
      margin-top: 60px;
      margin-left: 6px;
    }
  }
}

.button__hero.two {
  @include desktop {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -50%;
      right: -110px;
      width: 90px;
      height: 58px;
      background-image: url(../../images/hero/Arrow.svg);
    }
  }
}

.hero-contaoner__price {
  margin-top: 25px;
  @include desktop {
    margin-top: 58px;
    margin-left: 333px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1469.9px) {
  .arrow-box {
    display: none;
  }
}
@media screen and (min-width: 1470px) {
  .one {
    display: none;
  }
}
