@import '../../../../../node_modules/swiper/swiper-bundle.css   ';

#spesialists {
  padding: 40px 0;

  .swiper-wrapper {
    margin: 0 auto;
    width: 294px;
    height: 100%;
    z-index: 1;
    box-sizing: content-box;
    transition-property: transform;
    display: flex;
    position: relative;
  }

  .swiper-wrapper .swiper-slide {
    background-color: var(--background);
    max-width: 294px;
  }
}

.spesialists__header {
  @include text('Cormorant', 700, 25px, 30px);
  color: var(--text);
}

.swiper.mySwiperSpesialists {
  margin-top: 40px;
}

.spesialists__photo {
  width: 298px;
}

.spesialists__wrapper-card {
  padding: 27px 12px 40px 11px;
}

.spesialists__profil {
  @include text('Montserrat', 400, 14px, 55px);
  text-transform: uppercase;
  color: var(--accent-text);
}

.spesialists__name {
  @include text('Cormorant', 700, 18px, 22px);
  text-transform: uppercase;
  color: var(--text);
}

.list-features {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list-features__text {
  @include text('Montserrat', 400, 16px, 38px);
  color: var(--accent-text);
  display: flex;
  align-items: center;

  &::before {
    content: '';
    margin-right: 15px;
    background-image: url(../../images/spesialists/VectorTwo.svg);
    width: 40px;
    height: 40px;
    display: flex;
    flex-shrink: 0;
  }
}

.list-features__elements:first-child .list-features__text::before {
  background-image: url(../../images/spesialists/VectorOne.svg);
}

.list-features__elements:last-child .list-features__text::before {
  background-image: url(../../images/spesialists/Group.svg);
}

.list-referral {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 8px;
}

.list-referral__elements:last-child {
  grid-column: 1/3;
  grid-row: 2;
}

.list-referra__text {
  padding: 0 9px;
  border: 1px solid #536779;
  border-radius: 40px;
  @include text('Montserrat', 600, 14px, 55px);
  text-transform: uppercase;
  color: var(--accent-text);
}

.spesialists__button {
  margin-top: 15px;
  @include text('Montserrat', 700, 16px, 55px);
  text-transform: uppercase;
}
