@import '../../../../../node_modules/swiper/swiper-bundle.css   ';

#spesialists {
  padding: 75px 0;
  overflow: hidden;

  @include desktop {
    padding: 80px 0;
  }

  & .swiper {
    overflow: visible;
  }

  .swiper-wrapper {
    margin: 0 auto;
    width: 294px;
    height: 100%;
    z-index: 1;
    box-sizing: content-box;
    transition-property: transform;
    display: flex;
    position: relative;

    @include desktop {
      margin: 0;
    }
  }

  .swiper-wrapper .swiper-slide {
    background-color: var(--background);
    max-width: 294px;
    border-radius: 18px;

    &:nth-child(2) {
      margin-left: 50px;
    }
    &:nth-child(3) {
      margin-left: 50px;
    }
    &:nth-child(4) {
      margin-left: 50px;
    }
    &:nth-child(5) {
      margin-left: 50px;
    }
    &:nth-child(6) {
      margin-left: 50px;
    }
    &:nth-child(7) {
      margin-left: 55px;
    }
    &:nth-child(8) {
      margin-left: 55px;
    }
    &:nth-child(9) {
      margin-left: 60px;
    }

    @media screen and (min-width: 500px) and (max-width: 767.9px) {
      &:nth-child(2) {
        margin-left: 200px;
      }
      &:nth-child(3) {
        margin-left: 170px;
      }
      &:nth-child(4) {
        margin-left: 170px;
      }
      &:nth-child(5) {
        margin-left: 170px;
      }
      &:nth-child(6) {
        margin-left: 170px;
      }
      &:nth-child(7) {
        margin-left: 175px;
      }
      &:nth-child(8) {
        margin-left: 165px;
      }
      &:nth-child(9) {
        margin-left: 210px;
      }
    }

    @include tablet {
      &:nth-child(2) {
        margin-left: 0;
      }
      &:nth-child(3) {
        margin-left: 0;
      }
      &:nth-child(4) {
        margin-left: 0;
      }
      &:nth-child(5) {
        margin-left: 0;
      }
      &:nth-child(6) {
        margin-left: 0;
      }
      &:nth-child(7) {
        margin-left: 0;
      }
      &:nth-child(8) {
        margin-left: 0;
      }
      &:nth-child(9) {
        margin-left: 0;
      }
    }

    @include desktop {
      min-width: 467px;
      border-radius: 50px;
      position: relative;
      transform: scale(1);

      transition: 500ms linear;

      &:hover {
        transform: scale(1.075);
        filter: drop-shadow(0 4px 4px #00000040);
      }
    }
  }

  .swiper-wrapper:hover .swiper-slide:not(:hover) {
    filter: brightness(0.97) contrast(100%);
    // background: rgba(211, 221, 230, 0.5);
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -80px;

    & .swiper-pagination-bullet {
      background: radial-gradient(
          50% 50% at 50% 50%,
          rgba(247, 151, 129, 0.2) 0%,
          rgba(242, 218, 213, 0) 100%
        ),
        #f79781;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    & .swiper-pagination-bullet-active {
      width: 20px;
      height: 20px;
    }
  }
}

.spesialists__header {
  @include text('Cormorant', 700, 25px, 30px);
  color: var(--text);

  @include desktop {
    @include text(null, null, 60px, 55px);
  }
}

.swiper.mySwiperSpesialists {
  margin-top: 40px;

  @include desktop {
    margin-top: 150px;
  }
}

.spesialists__photo {
  width: 298px;
  border-radius: 30px 30px 0 0;

  @include desktop {
    width: 474px;
    margin: 0 auto;
  }
}

.spesialists__wrapper-card {
  padding: 27px 12px 40px 11px;

  @include desktop {
    padding: 30px 26px 60px 26px;
  }
}

.spesialists__profil {
  @include text('Montserrat', 400, 14px, 55px);
  text-transform: uppercase;
  color: var(--accent-text);

  @include desktop {
    font-size: 22px;
    line-height: 2.5;
  }
}

.spesialists__name {
  @include text('Cormorant', 700, 18px, 22px);
  text-transform: uppercase;
  color: var(--text);

  @include desktop {
    @include text(null, null, 30px, 55px);
  }
}

.list-features {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list-features__text {
  @include text('Montserrat', 400, 16px, 38px);
  color: var(--accent-text);
  display: flex;
  align-items: center;

  @include desktop {
    @include text(null, null, 28px, 38px);
  }

  &::before {
    content: '';
    margin-right: 15px;
    background-image: url(../../images/spesialists/VectorTwo.svg);
    width: 40px;
    height: 40px;
    display: flex;
    flex-shrink: 0;

    @include desktop {
      margin-right: 25px;
    }
  }
}

.list-features__elements:first-child .list-features__text::before {
  background-image: url(../../images/spesialists/VectorOne.svg);
}

.list-features__elements:last-child .list-features__text::before {
  background-image: url(../../images/spesialists/Group.svg);
}

.list-referral {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 8px;
}

.list-referral__elements:last-child {
  grid-column: 1/3;
  grid-row: 2;
}

.list-referra__text {
  padding: 0 9px;
  border: 1px solid #536779;
  border-radius: 40px;
  @include text('Montserrat', 600, 14px, 55px);
  text-transform: uppercase;
  color: var(--accent-text);

  @include desktop {
    @include text(null, 700, 16px, 55px);
    padding: 0 26px;
  }
}

.spesialists__button {
  margin-top: 15px;
  @include text('Montserrat', 700, 16px, 55px);
  text-transform: uppercase;

  @include desktop {
    margin-top: 50px;
    @include text('Montserrat', null, 30px, 55px);
  }
}
