:root {
  --accent-background: #f79781;
  --accent-text: #536779;
  --text: #264158;
  --background: #f9fafb;
  --color-icon: #d3dde6;
  --black: #000000;
  --white: #ffffff;

  --button-bgcolor-accent: var(--accent-background);
  --button-bgcolor-accent-hover: #c57866;
  --header-button-hover-color: #2e81c5;
  --button-bgcolor-accent-hover: #e6775e;
  --price-number-gray: rgba(83, 103, 121, 0.6);

  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: radial-gradient(
      62.25% 62.25% at 50% 50%,
      rgba(83, 103, 121, 0.2) 0%,
      rgba(211, 221, 230, 0.174) 100%
    ),
    #98c5eb;
  --border-color: #99c1e2;
  --media-mobile: @media screen and(min-width: 320px) {

  }
}
