<section class="how">
  <div class="container">
    <h2 class="how-title">як ми працюємо?</h2>
    <div class="how-container">
      <ul class="how-online">
        <li class="how-line__title on">Онлайн</li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
      </ul>

      <ul class="how-offline">
        <li class="how-line__title off">Офлайн</li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
        <li class="how-item">
          <p class="how-item__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
