<section class="how">
  <div class="container">
    <h2 class="how-title">як ми працюємо?</h2>
    <div class="how-container">
      <ul class="how-online">
        <li class="how-line__title">Онлайн</li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-online__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
      </ul>

      <ul class="how-offline">
        <li class="how-line__title off">Офлайн</li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
        <li class="how-offline__item">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </li>
      </ul>
    </div>
  </div>
</section>
