<ul
  style="
    display: flex;
    justify-content: space-between;
    color: blue;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid red;
  "
>
  <li style="outline: 1px solid red">
    <a href="./about-us.html">about-us</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./contacts.html">contacts</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./for-spesialists.html">for-spesialists</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./payment.html">payment</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./payment.html">payment</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./seminars.html">seminars</a>
  </li>
  <li style="outline: 1px solid red">
    <a href="./services.html">services</a>
  </li>
</ul>
