<section class="offer-section">
  <div class="container">
    <h2 class="offer-title">Пропонуємо вам</h2>
    <div class="offer-cont">
      <div class="offer-wrap">
        <h3 class="target">За місяць до цілі</h3>
        <p class="target-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam
        </p>
        <ul class="change-list">
          <li class="change-item">
            <p class="change-item-text">
              Lorem ipsum dolor sit amet dolor sit amet
            </p>
          </li>
          <li class="change-item">
            <p class="change-item-text">
              Lorem ipsum dolor sit amet dolor sit amet
            </p>
          </li>
          <li class="change-item">
            <p class="change-item-text">
              Lorem ipsum dolor sit amet dolor sit amet
            </p>
          </li>
          <li class="change-item">
            <p class="change-item-text">
              Lorem ipsum dolor sit amet dolor sit amet
            </p>
          </li>
        </ul>
        <button class="change-button">ЗМінити життя</button>
        <p class="transformation-price">
          Ціна трансформації:<span class="trans-count">400&#8372;</span>
        </p>
      </div>
      <picture class="offer-image">
        <source
          srcset="
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-mobile10.webp    1x,
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-mobile10@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-mobile10.png    1x,
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-mobile10@2x.png 2x
          "
          type="image/png"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-unsplash10-1.webp  1x,
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-unsplash10@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1470px)"
        />

        <source
          srcset="
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-unsplash10.png    1x,
            ./images/index-down/austin-kehmeier-lyiKExA4zQA-unsplash10@2x.png 2x
          "
          type="image/jpeg"
          media="(min-width: 1470px)"
        />

        <img
          src="./images/hero/hands-desctope-542.jpg"
          alt="рукі які тягнуться друг до друга"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
