<section class="consult">
  <div class="container">
    <h2 class="consult-title">як замовити консультацію</h2>
    <ul class="consult-list">
      <li class="consult-item">
        <p class="consult-item-title">Залишіть заявку</p>
        <p class="consult-item-text">
          Наш координатор напише вам у вказаний месенджер, щоб підібрати
          психолога та формат роботи.
        </p>
        <button class="consult-button">Записатися</button>
      </li>
      <li class="consult-item">
        <p class="consult-item-title">виберіть психолога</p>
        <p class="consult-item-text">
          Координатор запропонує вам кілька психологів, чия спеціалізація та
          досвід роботи є найбільш ефективними для вирішення вашої проблеми.
        </p>
      </li>
      <li class="consult-item">
        <p class="consult-item-title">Почніть спілкування</p>
        <p class="consult-item-text">
          Після оплати послуги психолог зв'яжеться з вами у вказаному месенджері
          цього ж дня. Ви домовитеся про дату та час, та почнете роботу.
        </p>
      </li>
      <li class="consult-item">
        <p class="consult-item-title">Насолоджуйтеся вільним життям</p>
        <p class="consult-item-text">
          Відчуйте смак життя без тривоги, депресії та панічних атак. Разом
          дійдемо до потрібного результату!
        </p>
      </li>
    </ul>
  </div>
</section>
