<section class="price" id="price">
  <div class="container">
    <h2 class="price-title">Ціни</h2>
    <div class="price-swiper">
      <div class="price-swiper__wrap swiper-wrapper">
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            Консультація у
            <span class="slid-title__design--first">власниці центру</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">300 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">400 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button class="price-button">Записатися</button> -->
        </div>
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            Перша <span class="slid-title__design--second">консультація</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">300 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">400 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button class="price-button">Записатися</button> -->
        </div>
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            наступна
            <span class="slid-title__design--second">консультація</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">300 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">400 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button></button> -->
        </div>
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            сімейна
            <span class="slid-title__design--second">консультація</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">350 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">450 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button class="price-button">Записатися</button> -->
        </div>
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            системний
            <span class="slid-title__design--second">коучінг</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">500 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">600 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button class="price-button">Записатися</button> -->
        </div>
        <div class="price-slid swiper-slide">
          <h3 class="slid-title">
            дитяча
            <span class="slid-title__design--second">консультація</span>
          </h3>
          <ul class="slid-text">
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
            <li class="slid-text__item">
              <p class="slid-text__text">Lorem ipsum dolor sit amet</p>
            </li>
          </ul>
          <ul class="prices">
            <li class="prices-count">
              <p class="price-figure price-figure__first">200 &#8372;</p>
              <p class="line">Онлайн</p>
            </li>
            <li class="prices-count">
              <p class="price-figure">300 &#8372;</p>
              <p class="line second-line">Офлайн</p>
            </li>
          </ul>
          <a href="" class="price-button">Записатися</a>
          <!-- <button class="price-button">Записатися</button> -->
        </div>
      </div>
      <div class="price-pagination"></div>
    </div>
  </div>
</section>
