<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">відгуки</h2>
    <div class="reviews-swiper">
      <div class="reviews-swiper__wrap swiper-wrapper">
        <div class="reviews-slid swiper-slide"></div>
        <div class="reviews-slid swiper-slide"></div>
        <div class="reviews-slid swiper-slide"></div>
        <div class="reviews-slid swiper-slide"></div>
        <div class="reviews-slid swiper-slide"></div>
        <div class="reviews-slid swiper-slide"></div>
      </div>
      <div class="reviews-pagination"></div>
    </div>
  </div>
</section>
