<section class="clients-success">
  <div class="container">
    <ul class="success-list">
      <li class="success-item">
        <picture class="success-image">
          <source
            srcset="
              ./images/index-down/offer-first-desk1xw.webp 1x,
              ./images/index-down/offer-first-desk2xw.webp 2x
            "
            type="image/webp"
          />

          <source
            srcset="
              ./images/index-down/offer-first-desk1x.jpg 1x,
              ./images/index-down/offer-first-desk2x.jpg 2x
            "
            type="image/jpeg"
          />

          <img
            src="./images/index-down/offer-first-desk2x.jpg"
            alt="рукі які тягнуться друг до друга"
            loading="lazy"
          />
        </picture>
        <div class="success-text-wrap">
          <p class="name"></p>
          <ul class="success-text-list">
            <li class="success-text-item">
              <p class="success-title first"></p>
              <p class="success-text first"></p>
              <svg class="success-first location-icons" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
            <li class="success-text-item">
              <p class="success-title second"></p>
              <p class="success-text second"></p>
              <svg class="success-first location-icons" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
          </ul>
          <svg class="success-first location-icons" width="20" height="20">
            <use href=""></use>
          </svg>
        </div>
      </li>
      <li class="success-item">
        <picture class="success-image">
          <source
            srcset="
              ./images/index-down/offer-second-desk1x-w.webp 1x,
              ./images/index-down/offer-second-desk2x-w.webp 2x
            "
            type="image/webp"
          />

          <source
            srcset="
              ./images/index-down/offer-second-desk1x.jpg 1x,
              ./images/index-down/offer-second-desk2x.jpg 2x
            "
            type="image/png"
          />
          <img
            src="./images/index-down/offer-second-desk2x.jpg"
            alt="рукі які тягнуться друг до друга"
            loading="lazy"
          />
        </picture>
        <div class="success-text-wrap">
          <p class="name"></p>
          <ul class="success-text-list">
            <li class="success-text-item">
              <p class="success-title first"></p>
              <p class="success-text first"></p>
              <svg class="success-first location-icons" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
            <li class="success-text-item">
              <p class="success-title second"></p>
              <p class="success-text second"></p>
              <svg class="success-first location-icons" width="20" height="20">
                <use href=""></use>
              </svg>
            </li>
          </ul>
          <svg class="success-first location-icons" width="20" height="20">
            <use href=""></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
