<footer class="footer">
  <div class="container">
    <a href="" class="logo__footer">
      <svg class="logo__footer">
        <use href="./images/header/sprite.svg#icon-Logo-mob"></use>
      </svg>
    </a>

    <div class="footer__wrap-top">
      <ul class="footer__menu-list">
        <li class="footer__menu-item footer__menu--first">
          <a href="./index.html" class="footer__link footer__link--menu"
            >Головна</a
          >
        </li>
        <li class="footer__menu-item footer__menu--second">
          <a href="./about-us.html" class="footer__link footer__link--menu"
            >Про нас</a
          >
        </li>
        <li class="footer__menu-item footer__menu--third">
          <a href="./services.html" class="footer__link footer__link--menu"
            >Послуги</a
          >
        </li>
        <li class="footer__menu-item footer__menu--fourth">
          <a href="#price" class="footer__link footer__link--menu">Ціни</a>
        </li>
        <li class="footer__menu-item">
          <a
            href="./for-spesialists.html"
            class="footer__link footer__link--menu"
            >Психологам</a
          >
        </li>
        <li class="footer__menu-item">
          <a href="./seminars.html" class="footer__link footer__link--menu"
            >Семінари</a
          >
        </li>
        <li class="footer__menu-item">
          <a href="#review" class="footer__link footer__link--menu">Відгуки</a>
        </li>
        <li class="footer__menu-item">
          <a href="./contacts.html" class="footer__link footer__link--menu"
            >Контакти</a
          >
        </li>
      </ul>
      <a href="./payment.html" class="footer__link footer__link--payment"
        >Оплата
        <svg width="40" height="37" class="footer__link-icon">
          <use href="./images/footer/footer_sprite.svg#icon-wallet"></use>
        </svg>
      </a>
    </div>

    <div class="footer__wrap-bottom">
      <ul class="footer__network">
        <li class="footer__network-item">
          <a
            href="https://instagram.com/"
            class="footer__network-link"
            target="_blank"
          >
            <svg class="footer__network-icon">
              <use
                href="./images/footer/footer_sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer__network-item">
          <a
            href="https://web.telegram.org/"
            class="footer__network-link"
            target="_blank"
          >
            <svg class="footer__network-icon">
              <use href="./images/footer/footer_sprite.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__network-item">
          <a
            href="https://www.viber.com/"
            class="footer__network-link"
            target="_blank"
          >
            <svg class="footer__network-icon">
              <use href="./images/footer/footer_sprite.svg#icon-viber"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="footer__service-list">
        <li class="footer__service-item">
          <a href="" class="footer__link footer__link--service"
            >Сімейний психотерапевт</a
          >
        </li>
        <li class="footer__service-item">
          <a href="" class="footer__link footer__link--service"
            >Дитячий психотерапевт</a
          >
        </li>
        <li class="footer__service-item">
          <a href="" class="footer__link footer__link--service"
            >Індивідуальні заняття</a
          >
        </li>
      </ul>
    </div>

    <address class="footer__address">
      <ul class="footer__contacts">
        <li class="footer__contacts-item">
          <a
            href="tel:+380974070110"
            class="footer__contacts-link footer__contacts--tel"
            >+38 (097)
            <span class="footer__contacts-highlight">407-01-10</span>
          </a>
        </li>
        <li class="footer__contacts-item">
          <a
            href="mailto:hello@mgoroshenko.com.ua"
            target="_blank"
            class="footer__contacts-link footer__contacts--mail"
            >hello@mgoroshenko.com.ua</a
          >
        </li>
        <li class="footer__contacts-item">
          <a href="" class="footer__contacts-link footer__contacts--map"
            >Львів, вул. Зелена 44</a
          >
        </li>
      </ul>
    </address>
    <button type="button" class="footer__button" data-modal-open>
      Вам передзвонити?
    </button>
  </div>
</footer>

<div class="scrol-to scrol-to--opacity"></div>
