<section class="payment">
    <div class="container">
    <h1 class="payment-title">Оплата</h1>
    <ul class="payment-list">
    <li class="payment-item">
        <picture>
          <source
          srcset="
            ./images/payment/webp/payment-1-mob-1x.webp 1x,
            ./images/payment/webp/payment-1-mob-2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767.9px)"
        />
  
          <source
            srcset="
              ./images/payment/payment-1-mob-1x.jpg 1x,
              ./images/payment/payment-1-mob-2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 767.9px)"
          />

            <source
              srcset="
                ./images/payment/webp/payment-1-desktop-1x.webp 1x,
                ./images/payment/webp/payment-1-desktop-2x.webp 2x
                "
              type="image/webp"
              media="(min-width: 768px)"
            />
    
            <source
              srcset="
                ./images/payment/payment-1-desktop-1x.jpg  1x,
                ./images/payment/payment-1-desktop-2x.jpg 2x
              "
              type="image/jpg"
              media="(min-width: 768px)"
            />
    
            <img
              class="payment-item__photo"
              src="./images/payment/payment-1-desktop-1x.jpg"
              alt="банківська картка в руці"
              loading="lazy"
            />
          </picture>
        <div class="payment-item__wrap">
          <h2 class="payment-item__title">На картку</h2>
          <p class="payment-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button class="payment-item__button" type="button">сплатити</button>
        </div>
    </li>
    
    <li class="payment-item">
        <picture>
            <source
            srcset="
              ./images/payment/webp/payment-2-mob-1x.webp 1x,
              ./images/payment/webp/payment-2-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767.9px)"
          />

            <source
              srcset="
                ./images/payment/payment-2-mob-1x.jpg 1x,
                ./images/payment/payment-2-mob-2x.jpg 2x
              "
              type="image/jpg"
              media="(max-width: 767.9px)"
            />

            <source
            srcset="
            ./images/payment/webp/payment-2-desktop-1x.webp 1x,
            ./images/payment/webp/payment-2-desktop-2x.webp 2x
              "
            type="image/webp"
            media="(min-width: 768px)"
          />
  
          <source
            srcset="
            ./images/payment/payment-2-desktop-1x.jpg 1x,
            ./images/payment/payment-2-desktop-2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 768px)"
          />
  
            <img
              class="payment-item__photo"
              src="./images/payment/payment-2-desktop-1x.jpg"
              alt="гроші в руках"
              loading="lazy"
            />
          </picture>

          <div class="payment-item__wrap">
          <h2 class="payment-item__title">Готівка</h2>
          <p class="payment-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button class="payment-item__button" type="button">сплатити</button>
          </div>
    </li>
    
    <li class="payment-item">
        <picture>
           
          <source
            srcset="
              ./images/payment/webp/payment-3-mob-1x.webp 1x,
              ./images/payment/webp/payment-3-mob-2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767.9px)"
          />
  
          <source
            srcset="
              ./images/payment/payment-3-mob-1x.jpg 1x,
              ./images/payment/payment-3-mob-2x.jpg 2x
            "
            type="image/jpg"
            media="((max-width: 767.9px)"
          />

          <source
          srcset="
            ./images/payment/webp/payment-3-desktop-1x.webp 1x,
            ./images/payment/webp/payment-3-desktop-2x.webp 2x
            "
          type="image/webp"
          media="(min-width: 768px)"
        />

        <source
          srcset="
            ./images/payment/payment-3-desktop-1x.jpg  1x,
            ./images/payment/payment-3-desktop-2x.jpg 2x
          "
          type="image/jpg"
          media="(min-width: 768px)"
        />

    
            <img
              class="payment-item__photo"
              src="./images/payment/payment-3-desktop-1x.jpg"
              alt="банківська карта з ноутбуком"
              loading="lazy"
            />
          </picture>

          <div class="payment-item__wrap">
          <h2 class="payment-item__title">На рахунок</h2>
          <p class="payment-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <button class="payment-item__button" type="button">сплатити</button>
          </div>
        </li>
    </ul>
    </div>
   </section>