.seminars {
    padding: 80px 0;
}
.seminars-list {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seminars-item {
    max-width: 332px;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}
.seminars-card {
    background-color: #F9FAFB;
    padding: 30px 16px 36px 27px;
}
.seminars-top-text {
    @include font (null, 14px, calc(55px / 14px));
    text-transform: uppercase;
    color: var(--accent-text);

    margin-bottom: 5px;
}
.seminars-top-title {
    max-width: 287px;

    font-family: 'Cormorant';
    @include font (null, 18px, calc(22px / 18px));
    text-transform: uppercase;
    color: var(--text);

    margin-bottom: 2px;
}
.seminars-text {
    display: flex;
    align-items: start;

    // margin-bottom: ;

    @include font (null, 16px, calc(20px / 16px));
    color: var(--accent-text);
    &::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--color-icon);

        margin-right: 7px;
    }
}

.seminars-price-list {
    display: flex;
    width: 120px;
    align-items: baseline;
    
    margin-left: auto;
    margin-bottom: 24px;
    
}
.seminars-price-text {
    @include font (700, 18px, calc(22px / 18px));
    color: var(--accent-text);
    margin-right: 5px;
}

.seminars-price-count {
    font-family: 'Arsenal';
    @include font (700, 30px, calc(38px / 30px));
    color: var(--accent-text);
}
.seminars-button {
    min-width: 247px;
    height: 84px;

    @include font (700, 16px, calc(55px / 16px));
    text-transform: uppercase;
    font-family: inherit;
    color: #ffffff;
    background-color: var(--accent-background);

    border-radius: 150px;
    box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
}