@import '../../../node_modules/swiper/swiper-bundle.min.css';
.price {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  @include desktop {
    padding-top: 94px;
    padding-bottom: 150px;
  }
}
.price .container {
  overflow: hidden;
  padding-left: 25px;
}
.price-title {
  @include text($font-family: 'Cormorant', $a: 700, $b: 25px, $c: 30px);
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 40px;
  @include desktop {
    @include text($font-family: 'Cormorant', $a: 700, $b: 60px, $c: 55px);
    margin-bottom: 80px;
  }
}

.price-swiper__wrap {
  display: flex;
}
.price-slid.swiper-slide {
  background-color: var(--background);
  padding: 31px 23px 33px 28px;
  height: 530px;
  margin-bottom: 25px;
  width: 100%;
  @include tablet {
    height: 570px;
  }
  @include desktop {
    padding: 70px 37px 41px 36px;
    // min-width: 517px;
    // max-width: 518px;
    height: 730px;
    min-width: 440px;
    max-width: 441px;
    background: rgba(211, 221, 230, 0.4);
    margin-bottom: 60px;
    transition: all var(--main-transition);
    &:hover {
      transform: scale(1.075);
      background-color: var(--background);
      z-index: 2;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }
}
.slid-title {
  @include text($font-family: 'Montserrat', $a: 700, $b: 18px, $c: 22px);
  text-transform: uppercase;
  color: var(--accent-text);
  margin-bottom: 25px;
  @include desktop {
    @include text($font-family: 'Montserrat', $a: 700, $b: 30px, $c: 37px);
    margin-bottom: 50px;
  }
  &__design--first {
    display: block;
  }
  &__design--second {
    display: block;
    color: var(--color-icon);
  }
}
.slid-text__item {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 15px;
    @include desktop {
      margin-bottom: 25px;
    }
  }
  &:last-child {
    margin-bottom: 20px;
    @include desktop {
      margin-bottom: 30px;
    }
  }

  &::before {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/index-down/agree.svg);
    margin-right: 10px;
  }
}
.slid-text__text {
  @include text($font-family: 'Montserrat', $a: 400, $b: 18px, $c: 22px);
  color: var(--accent-text);
  @include desktop {
    @include text($font-family: 'Montserrat', $a: 400, $b: 20px, $c: 38px);
  }
}
.prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.price-figure {
  @include text($font-family: 'Arsenal', $a: 700, $b: 40px, $c: 50px);
  color: var(--accent-background);
  margin-bottom: 15px;
  &__first {
    color: var(--accent-text);
  }
  &.single {
    text-align: right;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.line {
  @include text($font-family: 'Montserrat', $a: 700, $b: 20px, $c: 24px);
  color: var(--accent-text);
  margin-bottom: 15px;
}
.price-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 243px;
  height: 67px;
  background-color: var(--accent-background);
  @include text($font-family: 'Montserrat', $a: 700, $b: 16px, $c: 55px);
  color: var(--white);

  box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
  border-radius: 150px;
  transition: all var(--main-transition);
  &:hover {
    background-color: #e6775e;
  }
}
.price-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-pagination .swiper-pagination-bullet {
  background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(247, 151, 129, 0.2) 0%,
      rgba(242, 218, 213, 0) 100%
    ),
    #f79781;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 5px;
  }
}
.price-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
}
