@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  --accent-background: #f79781;
  --accent-text: #536779;
  --text: #264158;
  --background: #f9fafb;
  --color-icon: #d3dde6;
  --black: #000000;
  --white: #ffffff;
  --button-bgcolor-accent: var(--accent-background);
  --button-bgcolor-accent-hover: #c57866;
  --price-number-gray: rgba(83, 103, 121, 0.6);
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --gradient: radial-gradient(
      62.25% 62.25% at 50% 50%,
      rgba(83, 103, 121, 0.2) 0%,
      rgba(211, 221, 230, 0.174) 100%
    ),
    #98c5eb;
  --media-mobile: @media screen and(min-width: 320px) {
  } ;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Montserrat";
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

.is-open {
  opacity: 0;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

section {
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 499px) {
  .container {
    width: 499px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 1000px;
  }
}
@media screen and (min-width: 1470px) {
  .container {
    width: 1470px;
  }
}
.psychologists .container {
  padding-top: 175px;
  padding-bottom: 80px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .psychologists .container {
    padding-top: 250px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists .container {
    padding-top: 387px;
    padding-bottom: 150px;
  }
}

.psychologists__wrap {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .psychologists__wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-bottom: 80px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1469px) {
  .psychologists__wrap {
    padding-right: 60px;
    justify-content: center;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__wrap {
    padding-right: 100px;
    margin-bottom: 143px;
  }
}

.psychologists__top {
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .psychologists__top {
    width: 647px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1469px) {
  .psychologists__top {
    max-width: 750px;
    width: 100%;
  }
}

.psychologists__title {
  font-family: "Cormorant";
  font-style: normal;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .psychologists__title {
    margin-bottom: 40px;
    font-size: 34px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__title {
    font-size: 40px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__title {
    font-family: "Cormorant";
    font-style: normal;
    font-size: 60px;
    line-height: 0.9166666667;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .psychologists__list {
    margin-bottom: 40px;
  }
}

.psychologists__item {
  font-size: 16px;
  line-height: 1.375;
  color: var(--accent-text);
  display: flex;
}
@media screen and (min-width: 768px) {
  .psychologists__item {
    font-size: 12px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__item {
    font-size: 14px;
    line-height: 1.9;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__item {
    font-size: 20px;
  }
}
.psychologists__item:not(:last-child) {
  margin-bottom: 25px;
}
@media screen and (min-width: 1470px) {
  .psychologists__item:not(:last-child) {
    margin-bottom: 50px;
  }
}
.psychologists__item::before {
  content: "";
  display: block;
  width: 21px;
  height: 2px;
  margin-top: 10px;
  margin-right: 8px;
  flex-shrink: 0;
  background-color: var(--color-icon);
}
@media screen and (min-width: 1470px) {
  .psychologists__item::before {
    width: 40px;
    height: 3px;
    margin-right: 13px;
    margin-top: 22px;
  }
}

.psychologists__picture {
  overflow: hidden;
  max-width: 335px;
  max-height: 368px;
  border-radius: 400px 400px 0px 0px;
}
@media screen and (max-width: 767px) {
  .psychologists__picture {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .psychologists__picture {
    position: relative;
    z-index: 1;
    flex-shrink: 0;
    border-radius: 200px 0px 0px 0px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__picture {
    width: 455px;
    max-width: 455px;
    height: 485px;
    max-height: 485px;
    border-radius: 300px 0px 0px 0px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__picture {
    width: 614px;
    max-width: 614px;
    height: 651px;
    max-height: 651px;
    border-radius: 400px 0px 0px 0px;
    margin-right: 80px;
  }
}

.psychologists__subtitle {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .psychologists__subtitle {
    color: var(--accent-text);
    text-align: center;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__subtitle {
    font-family: "Cormorant";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0.875;
    margin-bottom: 75px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__subtitle {
    font-size: 60px;
  }
}

.psychologists__form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1000px) {
  .psychologists__form {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.psychologists__input {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 80px;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.4375;
  color: var(--text);
  border: 1px solid #99c1e2;
  border-radius: 150px;
  outline: none;
  transition: border var(--main-transition);
}
.psychologists__input::-moz-placeholder {
  color: var(--color-icon);
}
.psychologists__input:-ms-input-placeholder {
  color: var(--color-icon);
}
.psychologists__input::placeholder {
  color: var(--color-icon);
}
.psychologists__input:hover, .psychologists__input:focus {
  border: 1px solid #366187;
  box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.1607843137);
}
@media screen and (min-width: 1470px) {
  .psychologists__input:not(:last-child) {
    margin-right: 40px;
  }
}
@media screen and (min-width: 768px) {
  .psychologists__input {
    width: 320px;
    height: 60px;
    font-size: 14px;
    padding-left: 60px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__input {
    width: 250px;
    height: 80px;
    font-size: 16px;
    padding-left: 40px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__input {
    width: 320px;
    font-weight: 700;
    font-size: 18px;
    line-height: 3.0555555556;
    padding-left: 60px;
  }
}

@media screen and (min-width: 768px) {
  .psychologists__inputwrap {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__inputwrap {
    margin-bottom: 0;
  }
}

.psychologists__btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 3.4375;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-transform: uppercase;
  color: var(--white);
  background: var(--gradient);
  border-radius: 150px;
  transition: background-color var(--main-transition), box-shadow var(--main-transition);
}
.psychologists__btn:hover, .psychologists__btn:focus {
  box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.1607843137);
  background-color: #366187;
}
@media screen and (min-width: 768px) {
  .psychologists__btn {
    width: 320px;
    height: 60px;
    font-size: 14px;
    align-self: center;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__btn {
    width: 250px;
    height: 80px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__btn {
    width: 320px;
    font-size: 18px;
  }
}

.psychologists__background {
  position: absolute;
  top: 0px;
  right: 112px;
  width: 100vw;
  height: 660px;
  background-color: var(--background);
}
@media screen and (min-width: 325px) {
  .psychologists__background {
    height: 615px;
  }
}
@media screen and (min-width: 356px) {
  .psychologists__background {
    height: 570px;
  }
}
@media screen and (min-width: 385px) {
  .psychologists__background {
    height: 525px;
  }
}
@media screen and (min-width: 455px) and (max-width: 767px) {
  .psychologists__background {
    height: 485px;
  }
}
@media screen and (min-width: 768px) {
  .psychologists__background {
    width: 500px;
    height: 650px;
    right: 15px;
  }
}
@media screen and (min-width: 1000px) {
  .psychologists__background {
    width: 650px;
    height: 770px;
  }
}
@media screen and (min-width: 1470px) {
  .psychologists__background {
    width: 1020px;
    height: 1100px;
  }
}/*# sourceMappingURL=for-spesialists.css.map */