.brief-about-us {
  padding-top: 175px;
  @include desktop {
    padding-top: 430px;
  }

  // .brief-about-us__container
  &__container {
    position: relative;
    @include desktop {
      width: 1455px;
    }
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      top: -175px;
      width: 270px;
      height: 566px;
      background-color: var(--background);

      @media screen and (max-width: 374px) {
        display: none;
      }

      @media screen and (max-width: 1469px) {
        left: 0;
      }

      @include tablet {
        width: 35%;
      }

      @include desktop {
        height: 1060px;
        width: 70%;
        top: -430px;
        right: 0;
      }
    }
  }
  &__content {
    @include desktop {
      max-width: 735px;
      margin-left: auto;
      margin-right: 95px;
    }
  }
  // .brief-about-us__title
  &__title {
    margin-bottom: 40px;
    @include desktop {
      margin-bottom: 50px;
    }
  }
  // .brief-about-us__image
  &__image {
    overflow: hidden;
    @media screen and (max-width: 1469px) {
      max-width: 335px;
      margin-bottom: 25px;
      border-radius: 400px 400px 0px 0px;
    }
    @include desktop {
      position: absolute;
      top: -80px;
      left: 0;
      border-radius: 400px 0px 0px 0px;
      width: 542px;
    }
  }
  // .brief-about-us__text
  &__text {
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;
    @include desktop {
      margin-bottom: 40px;
    }
  }
}
