.brief-about-us {
  // padding-top: 175px;
  padding-top: 80px;

  @include desktop {
    // padding-top: 430px;
    padding-top: 205px;
  }

  &__container {
    position: relative;

    @include desktop {
      width: 1455px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      // top: -175px;
      top: -80px;
      width: 270px;
      // height: 566px;
      height: 471px;
      background-color: var(--background);

      @media screen and (max-width: 374px) {
        display: none;
      }

      @media screen and (max-width: 999px) {
        left: 0;
      }

      @include tablet {
        width: 35%;
      }

      @include desktop-small {
        height: 1150px;
        height: 950px;
        width: 70%;
        // top: -430px;
        top: -205px;
        right: 0;
      }

      @include desktop {
        // height: 1060px;
        height: 835px;
      }
    }
  }

  &__content {
    @include desktop-small {
      max-width: 550px;
      margin-left: auto;
      margin-right: 30px;
    }

    @include desktop {
      max-width: 735px;
      margin-left: auto;
      margin-right: 95px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include desktop {
      margin-bottom: 50px;
    }
  }

  &__image {
    overflow: hidden;

    @media screen and (max-width: 1000px) {
      max-width: 335px;
      margin-bottom: 25px;
      border-radius: 400px 400px 0px 0px;
    }

    @include desktop-small {
      position: absolute;
      top: 0;
      left: 0;
      width: 380px;
      border-radius: 400px 0px 0px 0px;
    }

    @include desktop {
      top: -80px;
      width: 542px;
    }
  }

  &__text:not(:last-child) {
    margin-bottom: 20px;

    @include desktop {
      margin-bottom: 40px;
    }
  }
}
