.specialists {
  padding-top: 80px;
  padding-bottom: 80px;

  @include tablet {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include desktop-small {
    padding-top: 117px;
    padding-bottom: 150px;
  }

  &__container {
    padding: 0 22px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px;
    @include desktop {
      gap: 40px;
    }
  }

  &__item {
    flex-shrink: 1;
    flex-basis: 331px;
    @include desktop-small {
      flex-basis: 438px;
    }

    @include desktop {
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }
}

.specialist {
  @media screen and (max-width: 1469.98px) {
    // max-width: 332px;
  }
  @include desktop {
    display: flex;
  }

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }

  &__foto {
    border-radius: 400px 0px 0px 0px;
    overflow: hidden;

    @include desktop {
      flex-shrink: 0;
      flex-basis: 516px;
    }
  }

  &:nth-child(2n-1) &__foto {
  }

  &:nth-child(2n) &__foto {
    transform: scale(-1, 1);
  }

  &__content {
    background-color: var(--background);
    padding: 23px 17px 33px;

    @include desktop-small {
      padding: 42px 25px;
    }
  }

  @include desktop {
    &:nth-child(2n-1) &__content {
      padding-left: 60px;
    }

    &:nth-child(2n) &__content {
      padding-right: 60px;
    }
  }

  &__specialisation {
    @include text(null, null, 14, 35);
    text-transform: uppercase;
    color: var(--accent-text);

    @include tablet {
      @include text(null, null, 20, 50);
    }

    @include desktop-small {
      display: none;
    }
  }

  &__name {
    @include text('Cormorant', 700, 18, 22);
    text-transform: uppercase;
    color: var(--text);
    margin-bottom: 25px;

    @include tablet {
      @include text(null, null, 24, 28);
      margin-bottom: 40px;
    }

    @include desktop-small {
      @include text(null, null, 30, 32);
      margin-bottom: 50px;
    }
  }

  &__characteristics {
    margin-bottom: 40px;

    @include desktop-small {
      margin-bottom: 25px;
      max-width: 625px;
    }
  }

  &__descripion {
    margin-bottom: 25px;

    @include desktop-small {
      margin-bottom: 50px;
    }
  }

  &__skills {
    margin-bottom: 25px;

    @media screen and (max-width: 1469.98px) {
      justify-content: center;
    }

    @include desktop-small {
      margin-bottom: 50px;
    }
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;

    @include desktop-small {
      margin-left: 0;
    }
  }
}

.characteristic {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    justify-content: flex-start;
    margin-left: 0;
    margin-right: 0;
    gap: 35px;
  }

  &__item {
    text-align: center;
  }

  &__icon {
    fill: var(--color-icon);
    margin-bottom: 5px;

    @include tablet {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;
    }

    @include desktop-small {
      width: 50px;
      height: 50px;
      margin-bottom: 12px;
    }
  }

  &__text {
    @include text(null, null, 16, 20);
    color: var(--accent-text);

    @include desktop-small {
      @include text(null, null, 20, 38);
    }
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 4px;

  &__item {
    padding: 2px 15px;
    border: 1px solid var(--accent-text);
    border-radius: 40px;
    @include text(null, 600, 14, 34);
    align-items: center;
    text-transform: uppercase;
    color: var(--accent-text);

    @include desktop-small {
      @include text(null, null, 16, 42);
      padding: 6px 15px;
    }
  }
}
