.kinds-services{
    overflow:hidden;
}
.kinds-services__container{
    padding-top: 143px;
    padding-bottom: 78px;
    
    @include desktop{
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
.services__title__container{
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
    
   
    @media screen and (max-width:767px){
             max-width: 150px;
             padding-left: 107px;
    }
 
   

}
.services__title{
    @include text('Montserrat', 700, 18px, 24px);
    color: var(--text);
    margin-top: 6px;
    margin-bottom: 6px;
    
  
    @include tablet{
        @include text('Montserrat', 700, 23px, 24px);
        margin-left: 15px;
    }
    @include desktop{
        @include text('Montserrat', 700, 30px, 55px);
        margin-top: 17px;
        margin-bottom: 28px;
       
       
    }
   
    
  
}
.services-card{
    position: relative;

    @include tablet{
        display: flex;
        flex-direction: column;
        margin-right: 70px;
        padding-left: 90px;
    }
        @include desktop{
            margin-right: 180px;
            display: flex;
            flex-direction: column;
            padding-left: 161px;
            
    }
    &-reverse{
        @include tablet{
            margin-left: 70px;
            margin-right: 0;
        }
        @include desktop{
                margin-left: 180px;
                margin-right: 0;
        }
            }

}

.services-img{
    @include tablet{
     width: 600px;   
    }
}
.services__title__block{
    position: absolute;
    bottom: 30px;
    left: 122px;
    width: 500px;
    height: 60px;
    background-color: var(--background);
    z-index: -1; 
   
    @include tablet{
        width: 300px;
     }
    @include desktop{
        width: 500px;
        height: 100px;
        left: 35px;
        bottom: 35px;

    }
}
.kinds-services__text{
    position: relative;
    padding-left: 29px;
    @include text('Montserrat', 400, 16px, 22px);
    color: var(--accent-text);
    max-width: 345px;
    @include tablet{
        max-width: 500px;
    }
    @include desktop{
        max-width: 600px;
        padding-left: 45px;
        @include text('Montserrat', 400, 20px, 38px);
    }
}
.kinds-services__text::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 10px;
    display: block;
    width: 21px;
    height: 2px;
    background-color: var(--color-icon);

    @include desktop {
        width: 34px;
        height: 3px;
        top: 20px;
      }
    }
.services__list{
    counter-reset: my-counter;
}
.services__item{
    &:not(:last-child){
        margin-bottom: 40px;
        @include desktop {
            margin-bottom: 75px;
        }
    }
    @include tablet{
        display: flex;
    }
    @include desktop{
        display: flex;
        
    }
}
.services__item-reverse{
    flex-direction: row-reverse;
}

.services-card::before{
    content: counter(my-counter, decimal-leading-zero)'';
    counter-increment: my-counter;
    color: var(--color-icon);
   
    @include text('Montserrat', 700, 70px, 55px);
    text-transform: uppercase;
    position: absolute;
    top: 50px;
    
    @include tablet{
        left: 0px;
    }
   
    @include desktop {
        @include text('Montserrat', 700, 110px, 55px);
        top: 70px;
       left: 0px;
        
    }
}

.services-price{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include desktop {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
.services-price-text{
    @include text('Montserrat', 700, 16px, 20px);
    color: var(--accent-text);
    margin-right: 15px;
    @include desktop{
        @include text('Montserrat', 700, 20px, 24px);
    }
}
.services-price-total{
    @include text('Arsenal', 400, 16px, 20px);
    color: var(--accent-text);
   
    margin-right: 4px;
    @include desktop{
        @include text('Arsenal', 400, 20px, 25px);
    }
}
.services-price-money{
    @include text('Arsenal', 500, 30px, 38px);
    color: var(--accent-text);
    text-transform: uppercase;
    @include desktop{
        @include text('Arsenal', 700, 60px, 75px);
    }
}
.services-btn{
    display: block;
    margin: 0 auto;
    padding: 3px 62px;
    @include text('Montserrat', 700, 16px, 55px);
    color: var(--white);
    text-transform: uppercase;
    background: var(--accent-background);
    box-shadow: 3px 3px 5px rgba(106, 55, 44, 0.16);
    border-radius: 150px;
    transition: all var(--main-transition);
    @include desktop{
        @include text('Montserrat', 700, 30px, 55px);
        padding: 22px 65px;
    }
    

  &:hover {
    background-color: #e6775e;
  }
}
