<section class="kinds-services">
    <div class="container">
     <h2 class="visually-hidden">Види послуг</h2>
     <ul class="services__list">
         <li class="services__item">
             <h3 class="services__title">Індивідуальні консультації</h3>
             <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
             <ul class="services-price-list">
                 <li class="services-price-item">Консультація:</li>
                 <li class="services-price-item">від</li>
                 <li class="services-price-item">300 ₴<</li>
             </ul>
            
             <button>Записатися</button>
             <picture class="services-img">
                 <source srcset="./images/services/web/services1-desctop.webp 1x,
                     ./images/services/web/services1-desctop@2x.webp 2x" media="(min-width: 1470px)" 
                     type="image/webp">
                 <source srcset="./images/services/services1-desctop.png 1x,
                     ./images/services/services1-desctop@2x.png 2x" media="(min-width: 1470px)" 
                     type="image/png">
                 
                 <source srcset="./images/services/web/services1-mobile.webp 1x, 
                     ./images/services/web/services1-mobile@2x.webp 2x" media="(min-width: 375)" 
                     type="image/webp">
                 <source srcset="./images/services/services1-mobile.png 1x,  
                     ./images/services/services1-mobile@2x.png 2x" media="(min-width: 375)"   
                     type="image/png">
 
                 <img src="./images/services/services1-mobile.png" alt="як позбутися синдрому фантомної сирени" 
                     loading="lazy">
             </picture>
            
         <li class="services__item">
             <h3 class="services__title">Сімейний психотерапевт</h3>
             <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
             <ul class="services-price-list">
                 <li class="services-price-item">Консультація:</li>
                 <li class="services-price-item">від</li>
                 <li class="services-price-item">300 ₴<</li>
             </ul>
            
             <button>Записатися</button>
             <picture class="services-img">
                 <source srcset="./images/services/web/services2-desctop.webp 1x,
                     ./images/services/web/services2-desctop@2x.webp 2x" media="(min-width: 1470px)" 
                     type="image/webp">
                 <source srcset="./images/services/services2-desctop.png 1x,
                     ./images/services/services2-desctop@2x.png 2x" media="(min-width: 1470px)" 
                     type="image/png">
                 
                 <source srcset="./images/services/web/services2-mobile.webp 1x, 
                     ./images/services/web/services2-mobile@2x.webp 2x" media="(min-width: 375)" 
                     type="image/webp">
                 <source srcset="./images/services/services2-mobile.png 1x,  
                     ./images/services/services2-mobile@2x.png 2x" media="(min-width: 375)"   
                     type="image/png">
 
                 <img src="./images/services/services2-mobile.png" alt="як позбутися синдрому фантомної сирени" 
                     loading="lazy">
             </picture>
         <li class="services__item">
             <h3 class="services__title">Дитячий психотерапевт</h3>
             <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
             <ul class="services-price-list">
                 <li class="services-price-item">Консультація:</li>
                 <li class="services-price-item">від</li>
                 <li class="services-price-item">300 ₴<</li>
             </ul>
            
             <button>Записатися</button>
             <picture class="services-img">
                 <source srcset="./images/services/web/services3-desctop.webp 1x,
                     ./images/services/web/services3-desctop@2x.webp 2x" media="(min-width: 1470px)" 
                     type="image/webp">
                 <source srcset="./images/services/services3-desctop.png 1x,
                     ./images/services/services3-desctop@2x.png 2x" media="(min-width: 1470px)" 
                     type="image/png">
                 
                 <source srcset="./images/services/web/services3-mobile.webp 1x, 
                     ./images/services/web/services3-mobile@2x.webp 2x" media="(min-width: 375)" 
                     type="image/webp">
                 <source srcset="./images/services/services3-mobile.png 1x,  
                     ./images/services/services3-mobile@2x.png 2x" media="(min-width: 375)"   
                     type="image/png">
 
                 <img src="./images/services/services3-mobile.png" alt="як позбутися синдрому фантомної сирени" 
                     loading="lazy">
             </picture>
     </ul>
    </div>
 </section>
 