<section class="hero" id="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero__header">
        <span class="hero__header--text">Онлайн центр</span> <br />
        практичної психології<br />
        <span class="hero__header--color">Меланії Горошенко</span>
      </h1>
      <p class="hero__motto">Твій психолог завжди поруч, де б ти не був.</p>
      <p class="hero__prompting">
        <span class="hero__prompting--selection">Знижено ціну</span> на перше
        заняття:
      </p>
      <div class="hero__price-box">
        <p class="hero__price">300&#8372;</p>
        <p class="hero__price--discount">600&#8372;</p>
      </div>
      <picture>
        <source
          srcset="
            ./images/hero/webp/hands-mobail-285.webp 1x,
            ./images/hero/webp/hands-mobail-570.webp 2x
          "
          type="image/webp"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/hero/hands-mobail-285.png 1x,
            ./images/hero/hands-mobail-570.png 2x
          "
          type="image/png"
          media="(min-width: 1470px)"
        />

        <source
          srcset="
            ./images/hero/webp/hands-desctope-542.webp  1x,
            ./images/hero/webp/hands-desctope-1084.webp 2x
          "
          type="image/webp"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/hero/hands-desctope-542.jpg  1x,
            ./images/hero/hands-desctope-1084.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1470px)"
        />

        <img
          class="hero__photo"
          width="542"
          src="./images/hero/hands-desctope-542.jpg"
          alt="рукі які тягнуться друг до друга"
          loading="lazy"
        />
      </picture>
      <button class="button button__hero" type="button">Записатися</button>
    </div>
  </div>
</section>
