<section class="hero" id="hero">
  <div class="container">
    <div class="hero-box">
      <h1 class="hero__header">
        <span>Онлайн центр</span>
        практичної психології
        <span>Меланії Горошенко</span>
      </h1>
      <p>Твій психолог завжди поруч, де б ти не був.</p>
      <p><span>Знижено ціну</span> на перше заняття:</p>
      <p>300&#8372;</p>
      <div>
        <p>600&#8372;</p>
      </div>
      <picture>
        <source
          srcset="
            ./images/hero/webp/hands-mobail-285.webp 1x,
            ./images/hero/webp/hands-mobail-570.webp 2x
          "
          type="image/webp"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/hero/hands-mobail-285.png 1x,
            ./images/hero/hands-mobail-570.png 2x
          "
          type="image/png"
          media="(max-width: 1469.9px)"
        />

        <source
          srcset="
            ./images/hero/webp/hands-desctope-542.webp  1x,
            ./images/hero/webp/hands-desctope-1084.webp 2x
          "
          type="image/webp"
          media="(max-width: 1470px)"
        />

        <source
          srcset="
            ./images/hero/hands-desctope-542.jpg  1x,
            ./images/hero/hands-desctope-1084.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1470px)"
        />

        <img
          width="542"
          src="./images/hero/hands-desctope-542.jpg"
          alt="рукі які тягнуться друг до друга"
          loading="lazy"
        />
      </picture>
      <button class="button" type="button">Записатися</button>
    </div>
  </div>
</section>
