<section class="section-spesialists" id="spesialists">
  <div class="container">
    <div class="spesialists-box">
      <h2 class="spesialists__header">Наші спеціалісти</h2>

      <div class="swiper mySwiperSpesialists">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
          <li class="swiper-slide">
            <picture>
              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-mpbail-300.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-mobail-600.webp 2x
                "
                type="imsge/webp"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/webp/austin-kehmeier-477.webp 1x,
                  ./images/spesialists/webp/austin-kehmeier-954.webp 2x
                "
                type="imsge/webp"
                media="(min-width: 1000px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-mpbail-300.png 1x,
                  ./images/spesialists/austin-kehmeier-mobail-600.png 2x
                "
                type="imsge/png"
                media="(max-width: 999px)"
              />

              <source
                srcset="
                  ./images/spesialists/austin-kehmeier-477.png 1x,
                  ./images/spesialists/austin-kehmeier-954.png 2x
                "
                type="imsge/png"
                media="(min-width: 1000px)"
              />

              <img
                class="spesialists__photo"
                src="./images/spesialists/austin-kehmeier-477.png"
                alt="Дівчина"
                loading="lazy"
              />
            </picture>
            <div class="spesialists__wrapper-card">
              <p class="spesialists__profil">Психолог</p>
              <h3 class="spesialists__name">Катерина Іваненко</h3>
              <ul class="list-features">
                <li class="list-features__elements">
                  <p class="list-features__text">Вища освіта</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підвищення кваліфікації</p>
                </li>
                <li class="list-features__elements">
                  <p class="list-features__text">Підтримка 24/7</p>
                </li>
              </ul>
              <ul class="list-referral">
                <li class="list-referral__elements">
                  <p class="list-referra__text">відносини у сім’ї</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">страхи</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">гештальт</p>
                </li>
                <li class="list-referral__elements">
                  <p class="list-referra__text">психотравма</p>
                </li>
              </ul>
              <button class="button spesialists__button" type="button">
                Записатися
              </button>
            </div>
          </li>
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
