<section class="our-services" id="our-services">
  <div class="container">
    <div class="our-box">
      <h2 class="our__header">Наші послуги</h2>
      <ul class="our-list">
        <li class="our-list__elements">
          <button class="button-our js-class">Сімейний психотерапевт</button>
          <div class="our-list__box js-class-text">
            <p class="our-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="our-list__price">
              <span class="our-list__price--strong">Ціна:</span> від
              <span class="our-list__price--big">500&#8372;</span>
            </p>
          </div>
        </li>
        <li class="our-list__elements">
          <button class="button-our js-class">Дитячий психотерапевт</button>
          <div class="our-list__box visually-hidden js-class-text">
            <p class="our-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="our-list__price">
              <span class="our-list__price--strong">Ціна:</span> від
              <span class="our-list__price--big">600&#8372;</span>
            </p>
          </div>
        </li>
        <li class="our-list__elements">
          <button class="button-our js-class">Індивідуальні заняття</button>
          <div class="our-list__box visually-hidden js-class-text">
            <p class="our-list__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat.
            </p>
            <p class="our-list__price">
              <span class="our-list__price--strong">Ціна:</span> від
              <span class="our-list__price--big">700&#8372;</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
