<section class="recommendation" id="recommendation">
  <div class="container">
    <div class="recommendation-box">
      <h2 class="recommendation__header">коли до нас звертаються</h2>
      <ul class="list-recommendation">
        <li class="list-recommendation__elements">
          <picture>
            <source
              srcset="
                ./images/our-services/webp/austin-1-mobail-213-min.webp 1x,
                ./images/our-services/webp/austin-1-mobail-426-min.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/austin-1-mobail-213-min.jpg 1x,
                ./images/our-services/austin-1-mobail-426-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/webp/austin-1-desctop-372-min.webp 1x,
                ./images/our-services/webp/austin-1-desctop-744-min.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/our-services/austin-1-desctop-372-min.jpg 1x,
                ./images/our-services/austin-1-desctop-744-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />

            <img
              class="list-recommendation__photo"
              src="./images/our-services/austin-1-desctop-372-min.jpg"
              alt="Дівчина плаче"
              loading="lazy"
            />
          </picture>

          <div class="list-recommendation__box">
            <h3 class="list-recommendation__header">
              Відчуваєш тривогу в режимі нонстоп?
            </h3>
            <p class="list-recommendation__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam,
            </p>
          </div>
        </li>
        <li class="list-recommendation__elements">
          <picture>
            <source
              srcset="
                ./images/our-services/webp/austin-2-mobail-200-min.webp 1x,
                ./images/our-services/webp/austin-2-mobail-400-min.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/austin-2-mobail-200-min.jpg 1x,
                ./images/our-services/austin-2-mobail-400-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/webp/austin-2-desctop-372-min.webp 1x,
                ./images/our-services/webp/austin-2-desctop-744-min.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/our-services/austin-2-desctop-372-min.jpg 1x,
                ./images/our-services/austin-2-desctop-744-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />

            <img
              class="list-recommendation__photo"
              src="./images/our-services/austin-2-desctop-372-min.jpg"
              alt="Дівчина плаче"
              loading="lazy"
            />
          </picture>

          <div class="list-recommendation__box">
            <h3 class="list-recommendation__header">
              чому хтось цінніший за тебе?
            </h3>
            <p class="list-recommendation__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam,
            </p>
          </div>
        </li>
        <li class="list-recommendation__elements">
          <picture>
            <source
              srcset="
                ./images/our-services/webp/austin-3-mobail-200-min.webp 1x,
                ./images/our-services/webp/austin-3-mobail-400-min.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/austin-3-mobail-200-min.jpg 1x,
                ./images/our-services/austin-3-mobail-400-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/webp/austin-3-desctop-372-min.webp 1x,
                ./images/our-services/webp/austin-3-desctop-744-min.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/our-services/austin-3-desctop-372-min.jpg 1x,
                ./images/our-services/austin-3-desctop-744-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />

            <img
              class="list-recommendation__photo"
              src="./images/our-services/austin-3-desctop-372-min.jpg"
              alt="Дівчина плаче"
              loading="lazy"
            />
          </picture>

          <div class="list-recommendation__box">
            <h3 class="list-recommendation__header">контролюєш себе?</h3>
            <p class="list-recommendation__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p>
          </div>
        </li>
        <li class="list-recommendation__elements">
          <picture>
            <source
              srcset="
                ./images/our-services/webp/austin-4-mobail-200-min.webp 1x,
                ./images/our-services/webp/austin-4-mobail-400-min.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/austin-4-mobail-200-min.jpg 1x,
                ./images/our-services/austin-4-mobail-400-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/webp/austin-4-desctop-372-min.webp 1x,
                ./images/our-services/webp/austin-4-desctop-744-min.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/our-services/austin-4-desctop-372-min.jpg 1x,
                ./images/our-services/austin-4-desctop-744-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />

            <img
              class="list-recommendation__photo"
              src="./images/our-services/austin-4-desctop-372-min.jpg"
              alt="Дівчина плаче"
              loading="lazy"
            />
          </picture>

          <div class="list-recommendation__box">
            <h3 class="list-recommendation__header">
              Боїшся за своє майбутнє?
            </h3>
            <p class="list-recommendation__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p>
          </div>
        </li>
        <li class="list-recommendation__elements">
          <picture>
            <source
              srcset="
                ./images/our-services/webp/austin-5-mobail-200-min.webp 1x,
                ./images/our-services/webp/austin-5-mobail-400-min.webp 2x
              "
              type="image/webp"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/austin-5-mobail-200-min.jpg 1x,
                ./images/our-services/austin-5-mobail-400-min.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 767.9px)"
            />

            <source
              srcset="
                ./images/our-services/webp/austin-5-desctop-372-min.webp 1x,
                ./images/our-services/webp/austin-5-desctop-744-min.webp 2x
              "
              type="image/webp"
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/our-services/austin-5-desctop-372-min.jpg 1x,
                ./images/our-services/austin-5-desctop-744-min.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 768px)"
            />

            <img
              class="list-recommendation__photo"
              src="./images/our-services/austin-5-desctop-372-min.jpg"
              alt="Дівчина плаче"
              loading="lazy"
            />
          </picture>

          <div class="list-recommendation__box">
            <h3 class="list-recommendation__header">Тебе не розуміють?</h3>
            <p class="list-recommendation__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam
            </p>
          </div>
        </li>
      </ul>

      <div class="arrow-box">
        <div class="arrow">
          <div class="curve"></div>
          <div class="point"></div>
        </div>
      </div>

      <p class="recommendation__prompting-text">
        Вихід один - записатися до спеціаліста та почати жити вільно!
      </p>
      <button class="button button-recommendation" type="buttpn">
        Запитання
      </button>
    </div>
  </div>
</section>
