<section class="our-services" id="our-services">
  <div class="container">
    <div class="our-box">
      <h2 class="our__header">Наші послуги</h2>
      <ul class="our-list">
        <li class="our-list__elements">
          <button class="button-our js-class">Сімейний психотерапевт</button>
          <div class="our-list__box-tablet">
            <div class="our-list__box our-list__box--activ js-class-text">
              <p class="our-list__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="our-list__price">
                <span class="our-list__price--strong">Ціна:</span> від
                <span class="our-list__price--big">500&#8372;</span>
              </p>
            </div>
            <picture>
              <source
                srcset="
                  ./images/our-servis/webp/fameli-560.webp  1x,
                  ./images/our-servis/webp/fameli-1120.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-servis/fameli-560.jpg  1x,
                  ./images/our-servis/fameli-1120.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />

              <img
                class="our-list__photo our-list__box our-list__box--activ"
                src="./images/our-servis/fameli-560.jpg"
                alt="Сім'я"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="our-list__elements is-no-activ">
          <button class="button-our js-class">Дитячий психотерапевт</button>
          <div class="our-list__box-tablet">
            <div class="our-list__box js-class-text">
              <p class="our-list__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="our-list__price">
                <span class="our-list__price--strong">Ціна:</span> від
                <span class="our-list__price--big">600&#8372;</span>
              </p>
            </div>
            <picture>
              <source
                srcset="
                  ./images/our-servis/webp/children-560.webp  1x,
                  ./images/our-servis/webp/children-1120.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-servis/children-560.jpg  1x,
                  ./images/our-servis/children-1120.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />

              <img
                class="our-list__photo our-list__box"
                src="./images/our-servis/children-560.jpg"
                alt="Сім'я"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
        <li class="our-list__elements is-no-activ">
          <button class="button-our js-class">Індивідуальні заняття</button>
          <div class="our-list__box-tablet">
            <div class="our-list__box js-class-text">
              <p class="our-list__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat.
              </p>
              <p class="our-list__price">
                <span class="our-list__price--strong">Ціна:</span> від
                <span class="our-list__price--big">700&#8372;</span>
              </p>
            </div>
            <picture>
              <source
                srcset="
                  ./images/our-servis/webp/individual-560.webp  1x,
                  ./images/our-servis/webp/individual-1120.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/our-servis/individual-560.jpg  1x,
                  ./images/our-servis/individual-1120.jpg 2x
                "
                type="image/jpeg"
                media="(min-width: 768px)"
              />

              <img
                class="our-list__photo our-list__box"
                src="./images/our-servis/individual-560.jpg"
                alt="Сім'я"
                loading="lazy"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
