<section class="why" id="why">
  <div class="container">
    <div class="why-box">
      <h2 class="why__header">Чому саме ми?</h2>
      <div class="why__wraper">
        <picture>
          <source
            srcset="
              ./images/why/webp/why-mobail-337.webp 1x,
              ./images/why/webp/why-mobail-674.webp 2x
            "
            type="image/webp"
            media="(max-width: 767.9px)"
          />
          <source
            srcset="
              ./images/why/webp/why-desctop-476.webp 1x,
              ./images/why/webp/why-desctop-951.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/why/why-mobail-337.jpg 1x,
              ./images/why/why-mobail-674.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767.9px)"
          />
          <source
            srcset="
              ./images/why/why-desctop-476.jpg 1x,
              ./images/why/why-desctop-951.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <img
            class="why__photo"
            src="./images/why/why-desctop-476.jpg"
            alt="фото як ми працюємо"
            loading="lazy"
          />
        </picture>

        <div class="why__wraper-list">
          <ul class="why-list">
            <li class="why-list__elements">
              <p class="why-list__text">
                <span class="why-list__text--strong">75%</span> людей
                залишаються з нами й надалі
              </p>
            </li>
            <li class="why-list__elements">
              <p class="why-list__text">
                <span class="why-list__text--strong">24/7</span> - час, який
                можемо тобі присвятити
              </p>
            </li>
            <li class="why-list__elements">
              <p class="why-list__text">
                Ми <span class="why-list__text--strong">персонально</span> під
                тебе складемо план нашої роботи
              </p>
            </li>
            <li class="why-list__elements">
              <p class="why-list__text">
                Наші фахівці вивчають
                <span class="why-list__text--strong">нові підходи</span> до
                терапії
              </p>
            </li>
            <li class="why-list__elements">
              <p class="why-list__text">
                <span class="why-list__text--strong">Європейські</span> методи
                терапії
              </p>
            </li>
          </ul>

          <a class="why__link" href="./about-us.html">Детальніше</a>
        </div>
      </div>

      <div class="why-war">
        <picture>
          <source
            srcset="
              ./images/why/webp/why-two-mobail-334.webp 1x,
              ./images/why/webp/why-two-mobail-668.webp 2x
            "
            type="image/webp"
            media="(max-width: 767.9px)"
          />
          <source
            srcset="
              ./images/why/webp/why-two-desctop-532.webp  1x,
              ./images/why/webp/why-two-desctop-1063.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ./images/why/why-two-mobail-334.jpg 1x,
              ./images/why/why-two-mobail-668.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767.9px)"
          />
          <source
            srcset="
              ./images/why/why-two-desctop-532.jpg  1x,
              ./images/why/why-two-desctop-1063.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)"
          />

          <img
            class="why-war__photo"
            src="./images/why/why-two-desctop-532.jpg"
            alt="фото як ми працюємо"
            loading="lazy"
          />
        </picture>

        <div class="why-war__box">
          <p class="why-war__text">
            <span class="why-war__text--strong">Зменшили вартість</span> наших
            послуг на час військових дій.
            <span class="why-war__text--strong">Все буде Україна!</span>
          </p>
          <p class="why-war__text">
            Нехай панічні атаки та тривожність йдуть слідом за орками
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
